# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
env.bak/
venv.bak/
get-pip.py

# Docker
docker/ssh_keys_tmp/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Test cache
.pytest_cache/